body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#SearchBox {
    float: right
}

.home {
    padding-top: 125px;
    padding-bottom: 30px;
    color: white;
}

.hometitle {
    font-size: 72px;
}

.lead {
    font-size: 30px;
}

.jumbotron {
    background-image: url('../../Content/img/amusement-park.jpg');
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 30px;
    color: white;
    height: 75vh;
    width: 100%;
    margin: auto;
}

.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    border-color: #337ab7;
}

    .navbar-default .navbar-brand {
        color: #337ab7;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}