@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-offset-4 col-md-8">
        <h2>@ViewBag.Title</h2>

        <address>
            One Amusement Park Way<br />
            Indianapolis, Indiana 46038<br />
            <abbr title="Phone">Phone:</abbr>
            800-555-RIDE
        </address>

        <address>
            <strong>Support:</strong>   <a href="#">support@amusementparkrater.com</a><br />
            <strong>General Information:</strong> <a href="#">info@amusementparkrater.com</a>
        </address>
    </div>
</div>
