@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../../Content/img/amusement-park.jpg');
        background-size: cover;
    }

    .myfooter {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
        color: white;
    }
</style>

<div class="home">
    @*<div class="container-fluid">
        <div class="jumbotron">*@
    <center>
        <p class="hometitle">Amusement Park Explorer</p>
        <p class="lead">Rate your favorite amusement park rides, shows and food!</p>
        @Html.ActionLink("Start Exploring", "Index", "Attraction", null, new { @class = "btn btn-success btn-lg" })
    </center>

    @*</div>
        </div>*@
</div>
