@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-image: url('../../Content/img/amusement-park.jpg');
        background-size: cover;
        padding-top: 150px;
        padding-bottom: 30px;
        color: white;
        height: 80vh;
    }

    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 0px;
    }

</style>

<div class="jumbotron">
    <center>
        <h1>Amusement Park Explorer</h1>
        <p class="lead">Rate your favorite amusement park rides, shows and food!</p>
        @Html.ActionLink("Start Exploring", "Index", "Attraction", null, new { @class = "btn btn-success btn-lg" })
    </center>
</div>
